@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap%27%27');

*{
    font-family: 'Share Tech Mono', monospace;
    margin: 0;
    padding: 0;
}


body{   /********************** BODY ********************/
    background-color: #170F1F!important;
}
.bg-dark{   /** BODY **/
    background-color: #170F1F!important;
}
.bg-light{
    background-color: #BF7EFF!important;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(23, 15, 31, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.custom-toggler .navbar-toggler {
    /* border-color: rgba(191, 126, 255, 1); */ /*Lilás*/
    border-color: rgba(23, 15, 31, 1); /*Preto*/
}
.navbar-toggler {
    padding: 9px 9px;
    /* border: 3px solid #BF7EFF; */ /*Lilás*/
    border: 3px solid #170F1F; /*Preto*/
    border-radius: 20rem;
    /* color: #BF7EFF; */ /*Lilás*/
    color: #170F1F;
}
.navbar-dark .navbar-toggler {
    /* color: #BF7EFF;
    border-color: #BF7EFF; */ /*Lilás*/
    color: #170F1F; /*Preto*/
    border-color: #170F1F; /*Preto*/
    border: 2px solid;
}

/************************* Links da Nav **************************/
.nav-link {
    justify-content: right;
    display: flex;
    margin-right: 10px;
    color: #170F1F !important;
    font-weight: bold;
}


/***************************************************************** FOOTER ***********************************************************/
.pay {
width: 60px;
padding-bottom: 10px;
padding-left: 7px;
}
.social {
margin-left: 10px;

}
footer{
background-color: #BF7EFF;
color: #170F1F;
}
.nav-ft{
flex-direction: column;
align-items: center;
margin-bottom: 15px;
}
.bdFt{
border-top: 2px solid #20db20!important;
}

/* Margin Top e Bottom para separação de elementos na página */
.marT{
margin-top: 70px;
}
.marB{
margin-bottom: 70px;
}



@media(max-width: 767px){
.social {
    padding-bottom: 20px;
}
}

@media(min-width: 365px){
    #pointer{
        width: 40px;
    }
}

.banner{
    width:1000px;
    margin: auto;
}

.banner h6, .banner h1{
    color: #22F122;
    text-shadow: #BF7EFF -1px -1px;
    text-align: center; 
}

.carouselImg{
    width: 250px;
    display: flex;
    justify-content: center;
}


.searchBar {
    width: 300px;
    height: 40px;
    margin-right: 8px;
    margin-top: 5px;
}

.btn-primary {
    height: 35px;
    margin-bottom: 20px;
    color: #170F1F;
    background: rgba(34, 241, 34, 0.82);
    box-shadow: 0px 0px 7px 7px #BF7EFF;
    filter: blur(0.5px);
    border: none;
    border-radius: 50px;
}

.btn-primary:hover {
    background: rgba(191, 126, 255);
    box-shadow: 0px 0px 7px 7px #22F122;
    color: #170F1F;
}

.cardI {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 10px 1px #22F122;
    border-radius: 0px 50px;
}

.card-title, h5 {
    font-family: Sahitya;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 37px;
    color: #22F122;
    text-shadow: #BF7EFF -1px -1px;
}



.modal-body img{
    width: 400px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtro, h6{
    color: #BF7EFF;
    color: #22F122;
    text-shadow: #BF7EFF -1px -1px;
}

.adc-carrinho{
    font-size: 15px;
}


